<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @add_phone3_toticket.phone %>
</p>


<%= link_to 'Edit', edit_add_phone3_toticket_path(@add_phone3_toticket) %> |
<%= link_to 'Back', add_phone3_totickets_path %>
