<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @add_phone_to_nouveau_ticket.phone %>
</p>


<%= link_to 'Edit', edit_add_phone_to_nouveau_ticket_path(@add_phone_to_nouveau_ticket) %> |
<%= link_to 'Back', add_phone_to_nouveau_tickets_path %>
