<p id="notice"><%= notice %></p>

<p>
  <b>Sexe:</b>
  <%= @add_sexe_to_jimbolan.sexe %>
</p>


<%= link_to 'Edit', edit_add_sexe_to_jimbolan_path(@add_sexe_to_jimbolan) %> |
<%= link_to 'Back', add_sexe_to_jimbolans_path %>
