<p id="notice"><%= notice %></p>

<p>
  <b>Phone2:</b>
  <%= @add_pone2_to_ticket.phone2 %>
</p>


<%= link_to 'Edit', edit_add_pone2_to_ticket_path(@add_pone2_to_ticket) %> |
<%= link_to 'Back', add_pone2_to_tickets_path %>
